<!DOCTYPE html>
<html>
  <head>
    <title>Corgis</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi there!  My name is <%=corgi.name;%>.</h1>
    <h3>I'm <%= corgi.age; %> years old.</h3>
  </body>
</html>
