<!DOCTYPE html>
<html>
  <head>
    <title>Corgis</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Who let the dogs out?</h1>
    <h2>display all corgis:</h2>
    <% corgisArray.forEach(function(corgi){ %>
    <p><%= corgi.name; %></p>
    <% }) %>
  </body>
</html>
